.home {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.blur {
    filter: blur(8px);
}

.background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.registrationContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.letsStart {
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 272px;
    height: 89px;
    padding: 12px 24px;
    background: #ff6868;
    border-radius: 8px;
}

.letsStartBtn {
    height: 24px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    line-height: 24px;
    margin: 16px 36px;
}

.greeting {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 500;
}
