.profile {
    position: relative;
    margin: 0 auto;
    background: #dad7cd;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contentContainer {
    flex: 1;
    padding-bottom: 80px;
}

.mainContent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px;
}

.generalInfo {
    display: flex;
    align-items: flex-start;
    margin-left: 100px;
}

.generalInfo img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.general {
    color: #000000;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.knowledgmentInfo {
    margin-top: 20px;
}

.knowledgment {
    color: #333;
    font-size: 20px;
}

.btns {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.btn {
    width: 220px;
    height: 40px;
    padding: 10px;
    background: #ff6868;
    border: 2px solid #3d2525;
    border-radius: 8px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.btn:active {
    background: #964141;
}
