.mainContainer {
    position: relative;
    width: 624px;
    height: 350px;
    background: #ffffff;
    overflow: hidden;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resetPass {
    height: 24px;
    margin: 24px 0;
    color: #000000;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}

.send {
    width: 239px;
    height: 54px;
    margin-top: 24px;
    padding: 12px 24px;
    background: #ff6868;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 24px;
    text-align: center;
    white-space: nowrap;
    border-radius: 8px;
}

.email {
    width: 450px;
    height: 50px;
    margin: 16px 0;
    padding: 12px;
    background: #d9d9d9;
    color: #1a201b;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}

input::placeholder {
    color: #888888;
}

.backToLogin {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: #ff6868;
    text-decoration: none;
    transition: color 0.3s;
}

.backToLogin:hover {
    color: #ad3636;
}
