.startBtn {
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 1;

    width: 272px;
    height: 89px;

    padding: 12px 24px 12px 24px;
    margin: 16px 36px;

    background: #ff6868;
    border: 2px solid #923636;
    border-radius: 8px;
    color: #ffffff;
    text-decoration: none;

    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    /* line-height: 24px; */
    text-align: center;
}

.background {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.title {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 54px;
    font-weight: 500;
}

.circle {
    flex-shrink: 0;
    position: relative;
    width: 19px;
    height: 19px;
    background-color: #56a667;
    z-index: 5;
    border-radius: 50%;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 150px;
    height: 24px;
    margin: 18px 0 0 151px;
    z-index: 6;
    position: absolute;
    top: 35%;
    left: 7%;
    transform: translate(-100%, -50%);
    color: #ffffff;
    font-family: Montserrat;
    font-size: 24px;
}

.mainContent {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
