.mainContainer {
    position: relative;
    width: 624px;
    height: 600px;
    background: #ffffff;
    overflow: hidden;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register {
    height: 24px;
    margin: 42px 0;
    color: #000000;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}

.userInput {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step2 .input {
    width: 100%;
    margin-bottom: 16px;
}

.registerBtn {
    width: 239px;
    height: 54px;
    margin-top: 24px;
    padding: 12px 24px;
    background: #ff6868;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 24px;
    text-align: center;
    white-space: nowrap;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userInput input {
    width: 450px;
    height: 50px;
    margin: 16px 0;
    padding: 12px;
    background: #d9d9d9;
    color: #1a201b;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}

.userInput select {
    width: 100%;
    height: 50px;
    padding: 12px;
    background: #d9d9d9;
    color: #1a201b;
    font-family: Montserrat;
    font-size: 18px;
    border-radius: 8px;
    border: none;
}

input::placeholder {
    color: #888888;
}

.login {
    margin-top: 20px;
    color: #000000;
    font-family: Montserrat;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.login:hover {
    text-decoration: underline;
}

.backToHome {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: #ff6868;
    text-decoration: none;
    transition: color 0.3s;
}

.backToHome:hover {
    color: #ad3636;
}
