.container {
    width: 100%;
    background-color: #3a5a40;
    padding: 4px;
    color: #fff;
    text-align: center;
    z-index: 1000;
}

.logo {
    height: 64px;
    width: 64px;
    margin: 24px;
}

.menu {
    display: flex;
    align-items: center;
    width: 100%;
}

.overlapMenu {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-left: 40px;
}

.menuBtn:first-child {
    font-weight: 700;
}

.menuBtn {
    color: #dad7cd;
    font-family: 'Inter', Helvetica, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    flex: 1;
    text-decoration: none;
}

.authBtns {
    display: flex;
    padding: 0px 100px 0px 12px;
    justify-content: space-between;
    flex-grow: 1;
}

.authBtn {
    align-items: center;
    background-color: #ff6868;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    height: 54px;
    justify-content: center;
    padding: 12px 24px;

    width: 166px;
}

.signUp {
    color: white;
    font-family: 'Montserrat-Medium', Helvetica;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
.logIn {
    color: white;
    font-family: 'Montserrat-Medium', Helvetica;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
